.browser{
    /* background-image:url('./Images/cnc-drill-drilling-machine.jpg') ; */
    background-color: rgba(255, 255, 255, 0.305);
    margin-top: 100;   
    text-align: center;  
}
.Link-Decoration{
    text-decoration: none;
}
.Inse{
    text-decoration: none;
}
body {
    /* background-image: url('./Images/240_F_556693941_RamQJh3mSAsjSw3uBzAx88JjP3h2sZAs.jpg'); */
    font-family: Arial, sans-serif;
    margin: 0;
    /* padding: 1px 100px 1px 100px; */
    background-size: cover;
    background-position: center;
}

.login-container {
     text-align: center;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    background-color: rgb(0, 255, 221);
    padding: 20px;
    margin: 20px;
    border-radius: 80px;
}

form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

form button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

form button:hover {
    background-color: #0056b3;
}
/* Forget Password Start */
.container {
    background-color: rgba(255, 255, 255, 0.8);
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ff0000;
    text-align: center;
}

label {
    display: inline-block;
    width: 100px;
    text-align: right;
    margin-right: 10px;
}

input {
    width: 200px;
    margin-bottom: 10px;
}

button {
    padding: 5px 10px;
}
/* Forget Password Over */
/* --------------------------------- Header Links -----------start--------------- */
#backbtn{
    background: linear-gradient(180deg, #fabf00,#ffffff,#4ced1f);
    border: 2px solid #fff;
    border-radius: 6px;
    color: #000;
    
}
.head_link a {
    background: linear-gradient(180deg, #fabf00,#ffffff,#4ced1f);
    border: 2px solid #fff;
    border-radius: 6px;
    color: #000;
    display: block;
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
    margin: 0 0px;
    padding: 14px 0px;
    text-align: center;
    text-transform: capitalize;
    transition: all 0.25s ease-in-out;
}
.head_link {
    float: right;
    margin: 0px auto 0;
    text-align: center;
    width: 13%;
}
.search_main {
    border-left: #696ba4 solid 2px;
    float: right;
    margin: 0 0;
}


  body {
    padding: 0px 150px 0px 150px;
    margin: 0;
    font-family: Arial, sans-serif;
  }
  .header {
    background: linear-gradient(30deg, #545858,#0fcbf0,#ede61f);
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .head_link a:hover {
    border: 2px solid #ff9e06;
    text-decoration: none;
    transition: all 0.7s ease 0s;
}
  .logo {
    image-resolution:inherit;
    width: 50px;
    height: 80px;
    margin-top: 10px;
    margin-right: 10px;
  }
  .website-name {
    font-size: 24px;
  }
  .login-profile {
    display: flex;
    align-items: center;
  }
  .login {
    margin-right: 20px;
    cursor: pointer;
  }
  .profile {
    position: relative;
    cursor: pointer;
  }
  .profile-dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #e600ff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: none;
  }
  .profile:hover .profile-dropdown {
    display: block;
  }
  .profile-dropdown-item {
    padding: 10px;
    border-bottom: 1px solid #ffffff;
    text-align: right;
  }
  /* Header File Startr */

.main_nav {
    background: #d5aed9;
    float: left;
    margin: 0 auto;
    padding: 0;
    /* text-align: center; */
    width: 85%;
} 


#cssmenu ul ul ul {
    margin-left: 100%;
    top: 0;
}
        /* DRop Color */
#cssmenu ul ul li:hover> a {
    background: #922d3e;
    color: #fff;
}
#cssmenu ul ul li a {
    background-color: #eaeaf4;
    border-bottom: 1px solid rgba(150,150,150,0.15);
     border-top: 0 important;
    color: #000;
    font-family: 'Roboto',sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    padding: 11px 23px;
    text-decoration: none;
    width: 230px;
}

                        /* DropDown Use */
#cssmenu ul ul {
    box-shadow: 0px 0px 10px 0px transparent;
    left: -9999px;
    position: absolute;
    z-index: 999999;
}

#cssmenu ul li a {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 0;
    box-sizing: border-box;
    display: block;
    line-height: 1;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
}

#cssmenu ul li {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 0;
    box-sizing: border-box;
    display: block;
    line-height: 1;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
}

#cssmenu ul {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 0;
    box-sizing: border-box;
    display: block;
    line-height: 1;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
}

#cssmenu li:hover> ul {
    left: auto;
}

#cssmenu> ul> li:hover> a {
    background: #2d3192;
    color: #fff;
}
#cssmenu> ul> li> a { 
    border-radius: 0px;
    color: #000;
    font-size: 15px;
    font-weight: bold;
    margin: 0 0 0;
    padding: 18px 25px;
    text-decoration: none;
    text-transform: capitalize;
}
#cssmenu> ul> li {
    background: no-repeat left center;
    display: inline-block;
    float: none;
}
 #cssmenu {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background: none;
    border: 0;
    box-sizing: border-box;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    line-height: 1;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    position: relative;
} 
/* --------------------------------- Header Links -----------Over---------------- */
/* ------------------------------- HOme Products--------------- start ---------*/
.hotProducts {
    padding: 0px 0px; 
    text-align: center;
}
.matterPart1:hover {
                border: 1px solid #fff;
                box-shadow: 0 0 5px 5px rgba(0,0,0,0.1);
            }
                
            .matterPart1 {
                background: #fff;
                border: 1px solid #eaeaea;
                border-radius: 6px;
                box-shadow: 0 0 5px 5px rgba(0,0,0,0);
                /* box-sizing: border-box; */
                box-sizing: content-box;
                display: inline-block;
                float: none;
                height: auto;
                margin: 0px 5%;
                overflow: hidden;
                padding: 10px;
                transition: all 0.7s ease 0s;
                width: 20%;
            }
.imagePart1 img:hover {
                transform: scale(1.3);
                width: 100%;
            }

            .imagePart1 img {
                height: auto;
                margin: 0 0 -4px;
                transition: all 0.7s ease 0s;
                width: 100%;
            }

            .imagePart1 {
                border: 1px solid #dedede;
                overflow: hidden;
                padding: 0px;
            }
.contentArea1 {
                margin: 0px;
                padding: 20px;
            }
.proName1 a:hover {
                color: #2d3192;
                text-decoration: none;
            }

            .proName1 a {
                color: #111;
                display: block;
                font-size: 16px;
                height: 40px;
                line-height: 20px;
                overflow: hidden;
                text-decoration: none;
            }

            .proName1 {
                color: #111;
                font-weight: 500;
                margin: 10px auto 0;
                padding: 0;
                text-align: center;
                text-transform: capitalize;
            }
.viewMore1 a:hover {
                color: #000;
            }

            .viewMore1 a {
                background: none;
                color: #2d3192;
                display: block;
                font-weight: 600;
                padding: 0px;
            }

            .viewMore1 {
                border-radius: 0px;
                float: none;
                font-size: 17px;
                line-height: 22px;
                margin: 10px auto 0px;
                text-align: center;
                text-transform: capitalize;
                width: 120px;
            }
/*Product imgs*/
.bro{
    float: left;
}
.abc{
    min-height: 32px
}