.browser{
    background-color: red;
    width: 100%;
    text-align: center;    
}
.login-container {
     text-align: center;
    width: 600px;   
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    background-color: rgb(255, 255, 255,0.5);
    padding: 20px;
    margin: 20px;
    border-radius: 80px;
}

.header {
    background: linear-gradient(30deg, #545858,#0fcbf0,#ede61f);
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }
.main_nav {
    background: #d5aed9;
    float: left;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    height: 30px;
    width: 85%;
} 
#cssmenu ul ul ul {
    margin-left: 100%;
    top: 0;
}
#cssmenu ul li {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 0;
    box-sizing: border-box;
    display: block;
    line-height: 1;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
}

#cssmenu ul {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 0;
    box-sizing: border-box;
    display: block;
    line-height: 1;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
}

#cssmenu> ul> li> a { 
    border-radius: 0px;
    color: #000;
    font-size: 15px;
    font-weight: bold;
    margin: 0 0 0;
    padding: 18px 25px;
    text-decoration: none;
    text-transform: capitalize;
}
#cssmenu> ul> li {
    background: no-repeat left center;
    display: inline-block;
    float: none;
}
 #cssmenu {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background: none;
    border: 0;
    box-sizing: border-box;
    display: inline-block;
    
    font-family: 'Roboto', sans-serif;
    line-height: 1;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    position: relative;
} 
/* footer Section */
.contact_heading {
    background: #2d3192;
    box-sizing: border-box;
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    line-height: 30px;
    padding: 15px;
    text-align: left;
    text-transform: capitalize;
    width: 100%;
} 
.footer_strip ul {
    font-weight: 400;
    list-style-type: none;
    margin: -0px 0 0 !important;
}

.footer_strip li a:hover {
    color: #111;
    text-decoration: underline;
}

.footer_strip li a {
    border-bottom: 0px dashed #525150;
    color: #111;
    display: block;
    padding: 8px 0;
}

.footer_strip li {
    color: #000;
    font-size: 16px;
    line-height: 22px;
    margin: 0;
}

.footer_strip {

    float: left;
    margin: 0;
    padding: 0px 0;
    width: 25%;
}
.footer_links a:hover {
    color: #fff;
    text-decoration: underline;
}
.footer_links a {
    color: #fff;
    text-decoration: none;
}
.footer_links {
    color: #fff;
    font-weight: normal;
    padding: 5px;
    text-align: center;
}

.footer_link a {
    color: #fff;
    padding: 10px 10px;
    text-decoration: none;
}

.footer_link {
    margin: 20px auto 0;
}

.footer_icon {
    margin: 10px auto 0;
    padding: 0px;
    text-align: left;
}

.footer ul {
    list-style-type: none !important;
}

.footer {
    background: #f8f8f8;
    font-family: 'Roboto', sans-serif;
    padding: 30px 20px;
}
.add_icon {
    float: left;
    margin: 6px 12px 0 0;
}

.add_box ul {
    float: left;
    margin: 0 auto 25px;
    width: 90%;
}

.add_box {
    float: left;
    margin: 0 2.5% 0 2.5%;
    width: 40%;
}
.punchline {
    color: #bcbcbc;
    font-size: 11px;
    font-weight: 500;
    line-height: 16px;
    text-align: left;
}
/* Insert Delete Update Record */
.Inse{
    background: linear-gradient(180deg, #fabf00,#ffffff,#4ced1f);
    align-items: center;
    border: 3;
}